
/* standard design for all elements */


  *{ margin: 0;
    font-family: 'Open Sans', sans-serif;}

/* _______extra design according to JHANKAR MAHBUB SIR's tutorial for bonus number  */
/* _______NAVIGATION BAR STYLE_________ */ 
    
    nav ul
    {display: flex;}

    nav ul li 

    {list-style: none;
     text-decoration: none;
     padding: 10px 20px;
     border: 0;
     border-radius: 10px;
     margin: 10px 20px;
     background-color: white;
     color: #005FAC;
     font-weight: 800;
     font-size: 20px;}

    nav ul

    {margin-left: 790px;}

    a
     {text-decoration: none;}

    nav ul li:hover 

    {background-color: orange;}

/* _______header design________ */

    header

    {width: auto;
     height:  808px;;
     background: url(../images/banner/banner3.png);
    background-repeat: no-repeat;
    background-size: 1280px;}

    .head

    {Margin-top: 45px;
     margin-left: 150px;} 
    

    .head-title

    {font-weight: 700;
     font-size: 65px;
     line-height: 76px;
     text-align: right;
     color: white;
     margin-right: 120px;}

    .head-description 

    {margin-left: 200px;
     margin-right: -170px;
     font-weight: 400;
     font-size: 16px;
     line-height: 26px;
     padding: 5px 300px;
     text-align: right;
     color:white;}
    

    .btn-primary

    {margin-top: 40px;
     margin-left: 840px;
     width: 140px;
     height: 55px;
     font-weight: 600;
     border: 0;
     border-radius: 5px;
     background-color: white;
     color: #005FAC;
     font-size: 20px;}

    .btn-primary:hover
    
    {background-color: orange;
    color: black; 
    /* design followed by tutorial of p.hero course */}


